#eklebtn{
  position:relative;
  left: 38%;
  width:50px;
  height: 40px;
  font-size: 15px;
  line-height: 0px;
  display: table-cell;
padding: px 1%;

}
#listebtn{
  position: relative;
  left:38%;
}

