<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <table style="width:100%;" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Personel No</th>
          <th>Adı</th>
          <th>Soyadı</th>
          <th>Memleketi</th>
          <th>Doğum Tarihi</th>
          <th>Departman</th>
          <th style="text-align: center">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align:center;" *ngFor="let kis of array2;index as i">

          <td>{{kis.PersonelNo}}</td>
          <td>{{kis.Adi}}</td>
          <td>{{kis.SoyAdi}}</td>
          <td>{{kis.Memleketi}}</td>
          <td>{{kis.DogumTarihi}}</td>
          <td>{{kis.Departman}}</td>
          <td>

            <button id="incelebtn" (click)="ataindex(i,'incele')" routerLink="/form" class="mb-3 btn btn-success">İncele</button>&nbsp;

            <button id="silbtn" (click)="sil(i)" class="mb-3 btn btn-danger">Sil</button>&nbsp;

            <button id="degistirbtn" routerLink="/form" (click)="ataindex(i,'degis')" id="degis" class="mb-3 btn btn-primary" style="width: 50px; height: 35px; padding: 1%; font-size:14px;">Değiştir
            </button>

          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


