#incelebtn{
  width: 50px;
  height: 35px;
  line-height: 0px;
  padding: 1%;

}
#silbtn{
  width: 50px;
  height: 35px;
  line-height: 0px;
  padding: 1%;

}
#degistirbtn{
  position: relative;
  width: 50px;
  height: 10px;
  line-height: 0px;
  padding: 1%;
}
